@page
@model IndexModel
@{
    ViewData["Title"] = "Photoworks | Home";
}

<div class="text-center">
    <h1 class="header1">Photoworks</h1>
    <h1 class="header2">Makes the Dream Work!</h1>
    <p class="lead" style="margin-top: 5vh;">Jasa fotografi terbaik yang akan anda temukan diluar sana.</p>
    <a href="/Paket">
        <button class="btn btn-outline-light get-started" style="margin-top: 5vh;">Get Started</button>
    </a>
</div>
<script>
    document.getElementById('home').style.textDecoration = "underline";
</script>
